html,
body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: IBM Plex Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.navbar {
  background-color: #3438bf;
  border-bottom: 1px solid #eaecef;
  margin-bottom: 1rem;
  min-height: 4rem;
}

.navbar-brand {
  height: 100%;
}

.navbar-brand .navbar-item {
  padding: 0.1rem 0.75rem 0.5rem;
}

.navbar-burger {
  height: auto;
}

.navbar a {
  color: #ffffff;
}

.navbar-item img {
  max-height: none;
}

.navbar-item.has-dropdown:hover .navbar-link {
  color: #485fc7;
}

.navbar-item.has-dropdown:hover .navbar-dropdown .navbar-item {
  color: #4a4a4a;
}

.breadcrumb a {
  color: #c0c0c4;
}

.breadcrumb a:hover {
  color: #3e3c8e;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background: #eaecef;
}

.footer a {
  color: #62626e;
}

.footer a:hover {
  color: #3438bf;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  color: #3e3c8e;
}

.chiclet {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  flex-direction: column;
  height: 100%;
}

/*.chiclet a:hover {
  color: #ffffff;
  background-color: var(--primary);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}*/

.chiclet-header {
  box-shadow: none;
}

.search-searchbar {
  max-width: 100%;
  margin-bottom: 15px;
}

.post-item {
  margin-bottom: 30px;
}

.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}

.post-breadcrumbs {
  color: #424242;
  display: block;
}

.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}

.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
}

.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
}

.post-snippet img {
  display: none;
}

.menu-list a.is-active {
  background-color: #3438bf;
  color: #fff;
}

.container .content #table-of-contents {
  margin-bottom: 1em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #62626e;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #3438bf;
}
